pkgbase = clevo-xsm-wmi-dkms
	pkgdesc = A reverse engineering driver for the Clevo SM series backlight keyboard (DKMS version)
	pkgver = 1.1
	pkgrel = 8
	url = https://bitbucket.org/tuxedocomputers/clevo-xsm-wmi
	install = clevo-xsm-wmi-dkms.install
	arch = i686
	arch = x86_64
	license = GPL
	depends = dkms
	depends = gcc
	depends = make
	depends = linux-headers
	provides = clevo-xsm-wmi
	conflicts = clevo-xsm-wmi
	conflicts = tuxedo-wmi
	conflicts = tuxedo-wmi-dkms
	options = !emptydirs
	source = clevo-xsm-wmi-dcf282992eb8.src.tar.gz::https://bitbucket.org/tuxedocomputers/clevo-xsm-wmi/get/dcf282992eb8.tar.gz
	source = ZX-550.patch
	source = rfkill.patch
	source = kernel-6.11.patch
	source = dkms.conf
	source = Makefile
	sha256sums = dd326e9855b708b7ab922d47b3abcd24c53a3af4fdc1c164399c8dbdb5a7f6ce
	sha256sums = 4829ea13de13694881fefaae6ddffbec3506db3b0b86d67a904907567ee4f7a0
	sha256sums = 2fee44a215c1f52c48e302ca6dcfbb8dd3c048a38d8984cd40b64646b168ec34
	sha256sums = 414d6357d14efb0838ed497882a62933dc174ae2bcd8750c8c012d8e3166ec2d
	sha256sums = 0cdf0213692a71d69f54730d1856d9f1e7b3d363d9b2a66a5d6bb363e8d8212f
	sha256sums = fb20847bde676a305fda41b865b46aff52ae9de60e1262d6e9725a71d72b806b

pkgname = clevo-xsm-wmi-dkms
